<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198589116669-ita3val09b8aijb11cqf4sgen64bk2mc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198589116669-ita3val09b8aijb11cqf4sgen64bk2mc</string>
	<key>API_KEY</key>
	<string>AIzaSyCCtiSayXlhsJQBEIrvLdzKWzVM-Q7p4A8</string>
	<key>GCM_SENDER_ID</key>
	<string>198589116669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.likhitgarimella.KartAppDemo</string>
	<key>PROJECT_ID</key>
	<string>kartappdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>kartappdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198589116669:ios:89460e461e09d073474e94</string>
	<key>DATABASE_URL</key>
	<string>https://kartappdemo.firebaseio.com</string>
</dict>
</plist>